
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
    <div class="Top__Logo">
      <ion-img routerLink="/" style="cursor: pointer" class="Top__Logo__LogoImg"
               src="assets/imgs/logo.png" alt="Logo"></ion-img>
    </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="16" size-md="10" size-xl="10" class="ValidationDiv">
        <h1 style="text-align: center">El cambio se ha ejecutado correctamente</h1>

        <div class="ValidationDiv__ValidationBox">
          <p>El cambio de contraseña se ha realizado con éxito. Ahora puedes dirigirte al logotipo para acceder a la página principal del sitio web o hacer clic en el icono de entrar en perfil para iniciar sesión con tu nueva contraseña.</p>

          <div class="icons">
            <ion-button class="IconContainer" routerLink="/login" fill="clear">
              <ion-img class="Icon" src="assets/imgs/profile_icon.webp" alt="Usuario"></ion-img>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
