
<ion-content class="forgotPasswordDiv">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="Top">
        <div class="Top__Logo">
          <img routerLink="" style="cursor: pointer" class="Top__Logo__LogoImg"
               src="assets/imgs/logo.png" alt="Logo">
        </div>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="8" size-xl="6" class="ion-align-self-center">
        <h1>¿Olvidaste tu contraseña?</h1>

        <div class="forgotPassword__Box">
          <form (ngSubmit)="onSubmit()">
            <div class="forgotPassword__PartDiv">
              <ion-label>Establece el correo electrónico del usuario al que se le va a cambiar la contraseña</ion-label>
              <ion-input type="email" placeholder="Email address" required></ion-input>
            </div>

            <div class="forgotPassword__PartDiv">
              <ion-label>Nueva contraseña</ion-label>
              <div class="passwordContainer">
                <ion-input type="password" name="Password" placeholder="Password" required></ion-input>
                <img src="assets/imgs/privacyEnabled.png" width="32" height="32" alt="">
              </div>

              <ion-label>Repite la nueva contraseña</ion-label>
              <div class="passwordContainer">
                <ion-input type="password" id="PasswordRepeatField" placeholder="Password again" required></ion-input>
                <img src="assets/imgs/privacyEnabled.png" width="32" height="32" alt="">
              </div>
            </div>

            <div class="forgotPassword__submit">
              <ion-button class="SubmitButton" type="submit">Confirmar</ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
