body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #272727;
}

h1 {
  color: #FFFFFF;
  font-weight: bold;
  place-self: center;
  font-size: 1.5rem;
}

label, ion-label, a {
  font-family: "Genos", sans-serif;
  color: #FFFFFF;
  font-size: 1.2rem;
}

.passwordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-input {
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  color: #FFFFFF;
  border: 0.1rem solid #FFFFFF;
  font-size: 1rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
}

ion-input::placeholder {
  color: #FFFFFF;
  font-weight: lighter;
}

.Top {
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.Top__Logo__LogoImg {
  width: 12.5rem;
  background: #1E1EBF;
  border-radius: 2.8rem;
  transition: transform 0.3s ease, border-radius 0.3s ease;
}

.Top__Logo__LogoImg:hover {
  background-color: #1E1EAD;
  transform: scale(1.05);
  border-radius: 3.1rem;
}

.forgotPasswordDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword__PartDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.forgotPassword__Box {
  position: relative;
  padding: 5rem 2.5rem;
  background: none;
  box-sizing: border-box;
}

.forgotPassword__Box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6119b4;
  filter: blur(0.6rem);
  z-index: -1;
  border-radius: inherit;
}

.forgotPassword__submit {
  display: flex;
  flex-direction: column;
}

.SubmitButton {
  scale: 1.5;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0.625rem;
  background: #1E1EBF;
  border: 0.125rem solid #FFFFFF;
  border-radius: 0.5rem;
  place-self: center;
}
