
<div class="userMenuButton">
  <a class="userMenuButton__buttons" routerLink="/my-reviews">
    <p class="userMenuButton__text m-0">My Reviews</p>
  </a>
  <a class="userMenuButton__buttons" routerLink="/user-settings">
    <p class="userMenuButton__text m-0">Settings</p>
  </a>
  <a class="userMenuButton__buttons " routerLink="/my-orders">
    <p class="userMenuButton__text m-0">My Orders</p>
  </a>
  <a class="userMenuButton__buttons " routerLink="/user-fav-games">
    <p class="userMenuButton__text m-0">Fav Games</p>
  </a>
</div>

