@font-face {
    font-family: 'Genos';
    src: url('src/assets/genos/Genos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Genos';
    src: url('src/assets/genos/Genos-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Genos';
    src: url('src/assets/genos/Genos-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Genos';
    src: url('src/assets/genos/Genos-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


